.Login {
  background-color: #171c2c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
}
.Login img {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}
.Login h1 {
  color: white;
  font-size: 32px;
}
.Login .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Login .login-form div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  width: 15vw;
}
.Login .login-form div input {
  padding: 0.25rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 20px;
}
.Login .login-form div label {
  color: white;
  font-size: 24px;
}
.Login .login-form .password-container {
  position: relative;
}
.Login .login-form .password-container .password-input-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}
.Login .login-form .password-container .password-input-container input {
  padding: 0.25rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 20px;
  padding-left: 30px;
}
.Login .login-form .password-container .password-input-container .eye-icon {
  position: absolute;
  top: 67.5%;
  left: 1.5%;
  transform: translateY(-50%);
  cursor: pointer;
}
.Login .login-form button {
  width: 50%;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 0.5rem;
  cursor: pointer;
}
.Login .login-form button:hover {
  background-color: #d7dcea;
}

@media (max-width: 1380px) {
  .Login .login-form div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    width: 100%;
  }
  .Login .login-form div input {
    padding: 0.25rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 18px;
  }
  .Login .login-form div label {
    color: white;
    font-size: 16px;
  }
  .Login .login-form .password-container {
    position: relative;
  }
  .Login .login-form .password-container .password-input-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    width: 100%;
  }
  .Login .login-form .password-container .password-input-container input {
    padding: 0.25rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 20px;
    padding-left: 30px;
  }
  .Login .login-form .password-container .password-input-container .eye-icon {
    position: absolute;
    top: 67.5%;
    left: 1.5%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .Login .login-form button {
    width: 60%;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 0.5rem;
    cursor: pointer;
  }
  .Login .login-form button:hover {
    background-color: #d7dcea;
  }
}